
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2853&q=80);">
  <div class="container">
    <h1>Your next cycling adventure with Cyclopedia </h1>
    <p><%= link_to "Find your ride", bicycles_path, class: "btn btn-lg btn-outline-success" %></p>
  </div>
</div>

<div class="card-product">
  <img src="https://cdn0.deporvillage.com/cdn-cgi/image/w=900,dpr=1,f=auto,q=75,fit=contain,background=white/product/mbm-816d20_a01_001.jpg" />
  <div class="card-product-infos">
    <h2>Bikes</h2>
    <p>Our <strong>Bike</strong> Guide</p>
  </div>
</div>

<div class="cards">
  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://electricbikereview.com/wp-content/assets/2020/02/rad-power-bikes-radcity-step-thru-3-electric-bike-review.jpg)">
      Electric Bike
    </div>
  <% end %>

  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://contents.mediadecathlon.com/p1845298/k$58a3ffbde99c3c3a0357558d4980b6d3/sq/Riverside+120+Hybrid+Bike+Blue.webp?f=1000x1000)">
      Occasional Rides
    </div>
  <% end %>

  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://contents.mediadecathlon.com/p1614845/k$e52fdc359232f2d189ded740b7f1c252/sq/Women+s+Intermediate+Flat+Bar+Road+Bike+Sora.webp?f=1000x1000)">
      Road Bikes
    </div>
  <% end %>

  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://contents.mediadecathlon.com/p162563/k$5b0d72eb563ce401154e7a471676234c/sq/RunRide+520+Cruiser+Children+s+10+Inch+Balance+Bike+Black.webp?f=250x250)">
      Kids Bikes
    </div>
  <% end %>

  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://contents.mediadecathlon.com/p1824780/k$01d17ccfaaf5d82553e8800ebfc0269a/sq/Electric+Assistance+Folding+Bike+Tilt+500+White.webp?f=1000x1000)">
      Folding Bikes
    </div>
  <% end %>

  <%= link_to bicycles_path do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://contents.mediadecathlon.com/p1817999/k$272ca28a9866216d2be38e1bb9dfc56e/sq/Hoprider+500+Long+Distance+City+Bike.webp?f=1000x1000)">
      Hybrid Bikes
    </div>
   </div>
  <% end %>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
   </div>
  <div class="footer-copyright">
    Share your <i class="fas fa-heart"></i> experience.
  </div>
</div>



